@{
    ViewData["Title"] = "主页";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="text-center">
    <h1 class="display-4">欢迎使用网上沟通交流系统</h1>
    <br />
    <p>要继续，请执行如下操作：</p>
    <a asp-controller="Home" asp-action="Chat">进入聊天界面</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Home" asp-action="AdminPanel">进入管理界面</a>
    }
</div>
